#board {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  background-color: #2196F3;
  column-gap: 1px
}
.image{
  height:8vmin;
  width:13.6vmin;
}

.cell {
  /* background-color: rgba(204, 24, 24, 0.8); */
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  height: 5vmin;
  width: 5vmin;
  text-align: center;
}
.resizecell{
  height: 80px;;
  width:80px;
}
#bottombar {
  height: 5vh;
}

#instructions {
  height: 5vh;
  background-color: white;
  padding: 0px;
  margin: 0px;
  text-align: center;
  border: 1px solid black;
}

#bottombar button {
  width: 50%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  font-size: 2vw
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.column {
  float: left;
  width: 30%;
  background-color:  #2196F3;;
}


.playable { background-color: rgb(118, 246, 120);}
.PLAYER0 { background-color: rgb(215, 90, 48); }
.PLAYER1 {background-color: rgb(226, 110, 182);}
/* .rowC{display:flex; flex-direction:row;} */